<ion-header>
  <ion-toolbar class="nav">
    <ion-buttons slot="start" (click)="backHome()" class="ion-padding">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Daftar Akun</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" class="background">
  <div class="ion-padding">
    <div class="card">
      <div class="header">
        <h4 class="ion-text-center">Masuk Layanan</h4>
        <div class="avatar ion-text-center">
          <img src="assets/icon/users.svg" alt="">
        </div>
      </div>
    </div>

    <div class="card-body">
      <form #form="ngForm" (ngSubmit)="login(form)">
        <div class="user-meta ion-text-center">
          <div class="ion-padding">
            <ion-item>
              <ion-input name="nip" type="text" placeholder="Masukan NIP" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
            <div class="ion-float-right">
              <p (click)="forgotPassword()">
                Lupa Password</p>
            </div>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Masuk</ion-button>
            <br>
          </div>
              <p class="ion-text-center" (click)="register()" >
                Daftar</p>
        </div>
      </form>
    <div class="ion-text-center">
      <img src="assets/icon/logo.svg">

    </div>
    </div>
  </div>
</ion-content>