.background {
    background: #C9D8FE;
}
.card {
    margin: 0 auto;

    .header {
        height: 60px;

        .avatar {
            width: 80px;
            height: 70px;
            position: relative;
            margin: 0 auto;

            img {
                display: block;
                border-radius: 50%;
                position: absolute;
                bottom: calc(-1*(40px + 4px));
                background-color: #fff;
            }
        }
    }
}

.card-body {
    background-color: #2692AA;
    padding: 30px;
    height: calc(100vh - (200px + 56px));
    overflow: hidden;

    .user-meta {
        padding-top: 40px;

        .playername {
            font-size: 24px;
            font-weight: 600;
            color: #303940;
        }

        .country {
            font-size: 90%;
            color: #949ea6;
            text-transform: uppercase;
            margin: 0 auto;
        }
    }
}