<ion-header>
  <ion-toolbar class="nav">
    <ion-buttons slot="start" (click)="backLogin()" class="ion-padding">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Daftar Akun</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <form #form="ngForm" (ngSubmit)="register(form)">
    <ion-grid>
      <ion-row classs="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="12" size-lg="12" size-xs="12">
          <div class="ion-text-center">
            <h3>Buat Akun Kamu!</h3>
          </div>
          <div class="ion-padding">
            <ion-item>
              <ion-input name="nip" type="text" placeholder="Masukan NIP" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="nama" type="text" placeholder="Masukan Nama" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" type="email" placeholder="Masukan Email" ngModel required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password_confirmation" type="password" placeholder="Masukan Ulang Password" ngModel required>
              </ion-input>
            </ion-item>
          </div>
          <div class="ion-padding">
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Daftar</ion-button>
          </div>
          <div class="ion-text-center">
            <img src="assets/icon/logo.svg">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>